<% provide(:title, "Help") %>
<h1>ヘルプ</h1>



<p> 本サイトはポスト機能とチェックリスト機能を同時に利用できるサイトです。</p>
<p> 成功することは毎日の積み重ねの結果であり、毎日自分でやろうと決めたことを必ず実行しましょう。</p>
<p> チェックリストで自分のすることを決め、やり遂げたらそのアイテムを削除します、さらに互いにシェアし合い、み</p>
<p> んなで頑張ろう。</p>