<h1>成功の物語</h1>

<p>初めまして <%= @user.name %>さん,</p>

<p>
成功の物語へようこそ！ 以下のリンクをクリックし、アカウントを有効にしましょう！
</p>

<%= link_to "アクティベート", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>