<footer class="footer">
  <small>
    This application was made by 渡部肇志
  </small>
  <nav>
    <ul>
      <!--<li><#%= link_to "About",   about_path %></li>-->
      <li><%= link_to "お問い合わせ", contact_path %></li>
      <li><a href="https://railstutorial.jp/">参考</a></li>
    </ul>
  </nav>
</footer>